* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
    color: azure;
}
a, ul, li {
    color: azure;
    text-decoration: none;
    list-style-type: none;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.estilo__logo {
    width: 100px;
    height: 100px;
}
.iconos__redes {
    width: 20px;
    height: 20px;
}
.grilla{
    display: grid;
    grid-template-areas:
                        "quienes quienes quienes"
                        "recetas recetas servicios"
                        "informacion contacto contacto"
                        "material contacto contacto";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 20% 20% 20%;
    grid-gap: 10px;
    height: 100vh;
}

.quienes{
    grid-area: quienes;
    background-color: rgb(211, 78, 78);
    margin: 10px;
    text-align: center;
}
.recetas{
    grid-area: recetas;
    background-color: rgb(211, 78, 78);
    margin: 10px;
    text-align: center;
}
.servicios{
    grid-area: servicios;
    background-color: rgb(211, 78, 78);
    margin: 10px;
    text-align: center;
}
.contacto{
    grid-area: contacto;
    background-color: rgb(211, 78, 78);
    margin: 10px;
    text-align: center;
}
.material{
    grid-area: material;
    background-color: rgb(211, 78, 78);
    margin: 10px;
    text-align: center;
}
.informacion{
    grid-area: informacion;
    background-color: rgb(211, 78, 78);
    margin: 10px;
    text-align: center;
}
