* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: azure;
}

a, ul, li {
  color: azure;
  text-decoration: none;
  list-style-type: none;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.estilo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.estilo__logo {
  width: 100px;
  height: 100px;
}

.iconos__redes {
  width: 20px;
  height: 20px;
}

.estilo__redes {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
}

.grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "carrusel carrusel carrusel" "quienes quienes quienes" "recetas recetas servicios" "informacion contacto contacto" "material contacto contacto" "footer footer footer";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 30% 30% 20% 20% 20% 10%;
      grid-template-rows: 30% 30% 20% 20% 20% 10%;
  grid-gap: 10px;
  height: 100vh;
}

.carrusel {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: carrusel;
  margin: 10px;
}

div h5 {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
  font-size: 2em;
}

div p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
  font-size: 1em;
}

.quienes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: quienes;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

.recetas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: recetas;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

.servicios {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: servicios;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

.contacto {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

.material {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: material;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

.informacion {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: informacion;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #d34e4e;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid;
  -webkit-box-shadow: 5px 5px #401a5f;
          box-shadow: 5px 5px #401a5f;
}

h3 {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  letter-spacing: 3px;
}

.carousel__diseno {
  width: 100%;
  height: 170px;
}

.nav__diseno {
  background: #833ab4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  border-radius: 20px;
}

nav li a:hover {
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .grilla {
        grid-template-areas: "quienes quienes" "recetas recetas" "servicios servicios" "informacion informacion" "contacto contacto" "material material" "footer footer";
    -ms-grid-rows: 20% 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20% 20%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */